div.index__container__inner___1ldZA.index__container___izEfr {
  background-image: url("https://jockebq.github.io/combustion/blur-noise.png"), url("https://jockebq.github.io/combustion/blur-light.png");
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-color: rgba(0, 0, 0, .0);
}

.index__header___28Tp8 {
  background-color: #162027;
}

.index__toolbar___1SU3S {
  background-color: #162027;
}

.index__button___15Glp > svg {
  color: #fff;
}
