div.index__container__inner___1ldZA.index__container___izEfr {
  background-image: url("https://jockebq.github.io/combustion/blur-noise.png"), url("https://jockebq.github.io/combustion/blur-light.png");
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-color: rgba(0, 0, 0, .0);
}

.index__header___28Tp8 {
  background-color: #162027;
}

.index__toolbar___1SU3S {
  background-color: #162027;
}

.index__button___15Glp > svg {
  color: #fff;
}

.listInfo__container___3QpaR {
  display: none;
}

.index__footer___1obLm {
  display: none;
}

.index__down___TP2LS, .index__up___25v1j {
  color: #fff;
}

.index__list___1eo3W {
  background-color: hsla(0, 0%, 100%, .35);
}

.index__selected___2XIcO {
  background-color: hsla(0, 0%, 100%, .55);
}

