.index__container___izEfr, .index__footer___mv3bv{
  filter:invert(1)!important;
}
.index__header___28Tp8{
  background-color: red!important;
}
.theme__drawer___1sAOY{
  filter:invert(1)!important;
}
.theme__dialog___3lw90{
  background-color:#bfbfbf !important;
  filter:invert(1);
  color:white;
}
.theme__label___34120{
  color:black !important;
}
